body {
    background-color: black;
    font-size: 30px;
    color: white;
}

.col-shell {
    position: relative;
    width: 500;
}

.command_line > * {
    display: inline-block;
    position: absolute;
}

#time {
    width: fit-content;
}

#time, .past_time {
    color: greenyellow;
    font-weight: bold;
}

#path, .past_path {
    color: aqua;
    font-weight: bold;
}

#shell_input {
    background-color: black;
    position: absolute;
    color: white;
    border: unset;
}

#catArea {
    background-color: black;
    position: absolute;
    color: white;
    border: unset;
    width: 100%;
}