body {
    font-family: "Mono";
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

header {
    position: absolute;
    top: 0;
    height: 20px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

header div {
    padding: 0;
    margin: 0;
    display: inline-block;
    height: 100%;
    color: white;
    font-weight: bolder;
}

.header-left {
    position: absolute;
    text-align: left;
    left: 0;
    width: 30%;
}

.header-center {
    position: absolute;
    text-align: center;
    left: 30%;
    width: 40%;
}

.header-right {
    position: absolute;
    text-align: right;
    left: 70%;
    width: 30%;
}

desktop {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 45px;
}

.app_icon {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    padding: 10px;
    text-align: center;
    color: white;
    z-index: 1;
}

.app_icon:hover>* {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}

.app_icon>img {
    width: 50px;
}

.app_icon>* {
    position: relative;
    display: inline-block;
    cursor: default;
}

.window {
    overflow: hidden;
    position: absolute;
    background-color: lightgray;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 45;
}

.title_bar {
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
    text-align: center;
}

.title_text {
    cursor: default;
}

.title_bar>div:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}

.close_button {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 2px;
    right: 5px;
}

.max_button {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 2px;
    right: 25px;
}

.min_button {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 2px;
    right: 45px;
}

.shell {
    position: absolute;
    background-color: black;
    top: 20px;
    left: 0px;
    right: 0px;
    bottom: 10px;
    padding: 5px;
    overflow-y: scroll;
}

/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

.shell ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px black;
    border-radius: 10px;
    border: solid 3px transparent;
}

/* Handle */

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 5px 5px rgb(128, 128, 128);
    border: solid 3px transparent;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(64, 64, 64);
}

.past_commands {
    display: block;
    background-color: black;
    color: white;
    top: 0;
    width: 100%;
}

.time, .past_time {
    color: greenyellow;
    font-weight: bold;
    z-index: 10;
}

.path, .past_path {
    color: aqua;
    font-weight: bold;
    z-index: 10;
}

.shell_input {
    background-color: black;
    position: relative;
    width: 100%;
    resize: vertical;
    color: white;
    border: unset;
}

.nano {
    position: absolute;
    background-color: black;
    top: 20px;
    left: 0px;
    right: 0px;
    bottom: 10px;
}

.nano ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px black;
    border-radius: 10px;
    border: solid 3px transparent;
}

.catArea {
    position: absolute;
    top: 20px;
    bottom: 40px;
    width: 100%;
    background-color: black;
    color: white;
    border: unset;
    resize: none;
    overflow-y: scroll;
}

.nanoBar {
    position: absolute;
    background-color: white;
    color: black;
    left: 1px;
    right: 0;
    text-align: center;
    cursor: default;
}

.topNanoBar {
    top: 0;
    height: 20px;
}

.botNanoBar {
    bottom: 0;
    height: 40px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 45px;
    right: 0;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 9999;
    overflow-y: scroll;
}

.footer_icon {
    position: relative;
    z-index: 11;
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    background-color: rgba(125, 125, 125, 0.1);
}

.footer_icon:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.footer_icon>.high_img {
    display: block;
    height: 30px;
    margin-left: calc(50% - 15px);
}

.footer_icon>.dot {
    display: none;
    width: 5px;
    margin-left: calc(50% - 2px);
}

footer-menu {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 45px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 9999;
}

footer-menu>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
}

footer-menu>img:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
}

.menu-back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9000;
}

.menu-drawer {
    position: absolute;
    top: 20%;
    left: 20%;
    bottom: 20%;
    right: 20%;
    z-index: 9001;
    overflow-y: scroll;
}

.menu-icon {
    position: relative;
    display: inline-block;
    height: 150px;
    width: 150px;
    color: white;
    font-weight: bolder;
    text-align: center;
    overflow: hidden;
}

.menu-icon:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon>img {
    position: relative;
    display: block;
    left: 10px;
    width: 130px;
}

.file-system-bar {
    position: absolute;
    top: 20px;
    height: 20px;
    left: 0;
    right: 0;
}

.parent-icon:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.parent-icon {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    left: 5px;
    top: 0;
    width: 20px;
    height: 20px;
    background-size: cover;
}

.relative-path {
    position: absolute;
    left: 80px;
    right: 5px;
    background-color: aliceblue;
    top: 1px;
    bottom: 1px;
    border-radius: 15px;
}

.relative-path>input {
    position: absolute;
    top: 0;
    bottom: 0;
    width: calc(100% - 14px);
    padding: 1px 5px;
    text-align: center;
    border-radius: 15px;
}

.new-file-icon {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    left: 30px;
    top: 0;
    width: 20px;
    height: 20px;
    background-size: cover;
}

.new-file-icon:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.new-folder-icon {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    left: 55px;
    top: 0;
    width: 20px;
    height: 20px;
    background-size: cover;
}

.new-folder-icon:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.file-system {
    position: absolute;
    background-color: white;
    top: 40px;
    left: 0px;
    right: 0px;
    bottom: 10px;
    padding: 0px;
    overflow-y: scroll;
}

.file-system ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px white;
    border-radius: 10px;
    border: solid 3px transparent;
}

.fs_sprite {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 80px;
    padding: 10px;
    font-size: 10px;
    text-align: center;
    color: black;
}

.fs_sprite:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.fs_sprite>span {
    width: 100%;
    display: inline-block;
    cursor: default;
    line-height: 13px;
}

.fs_sprite>.sprite_image {
    width: 100%;
    display: inline-block
}

.fs_icon>* {
    position: relative;
    display: inline-block;
}

.delete_sprite {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    display: inline-block;
    z-index: 46;
}

.pencil_sprite {
    position: absolute;
    top: 0;
    right: 25px;
    width: 20px;
    display: inline-block;
    z-index: 46;
}

.upload {
    position: absolute;
    background-color: white;
    top: 20px;
    left: 0px;
    right: 0px;
    bottom: 10px;
    padding: 20px;
    overflow-y: scroll;
}

.upload ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px white;
    border-radius: 10px;
    border: solid 3px transparent;
}

.titleUpload {
    top: 15px;
    position: absolute;
    left: 5%;
    cursor: default;
}

.inpFile {
    position: absolute;
    top: 30px;
    left: 5%;
    width: 90%;
    height: 20px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttonUpload {
    position: absolute;
    top: 70px;
    height: 40px;
    right: 50%;
    width: 100px;
    background-color: blue;
    border: none;
    color: white;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
}

.buttonReset {
    position: absolute;
    top: 70px;
    height: 40px;
    left: 50%;
    width: 100px;
    background-color: blue;
    border: none;
    color: white;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
}

.progress {
    position: absolute;
    top: 130px;
    left: 5%;
    height: 35px;
    width: 90%;
    border: 2px solid black;
}

.progress-bar {
    height: 100%;
    width: 0%;
    background-color: lightblue;
    display: flex;
    color: black;
    font-weight: bolder;
    transition: width 0.25s;
}

.progress-bar>span {
    position: absolute;
    padding: 8px 10px;
    left: 0;
    cursor: default;
}

.uploadStatus {
    position: absolute;
    top: 180px;
    left: 5%;
    width: 90%;
    margin-bottom: 20px;
    text-align: center;
}

.uploadStatus>img {
    left: 5%;
    width: 90%;
}

.uploadStatus>p {
    cursor: default;
}

.select-name {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 300;
}

.select-name-win {
    position: relative;
    top: calc(50% - 100px);
    left: calc(50% - 150px);
    height: 200px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 300;
    background-color: lightgrey;
    border-radius: 25px;
}

.select-name-text {
    position: relative;
    padding-top: 20%;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
}

.select-name-value {
    position: relative;
    left: 5px;
    right: 5px;
    width: calc(100% - 25px);
    margin-top: 10px;
    display: block;
    border-radius: 15px;
    padding: 2px 5px;
}

.select-name-button {
    position: absolute;
    left: 0;
    bottom: -25px;
    margin-bottom: 25px;
    width: 50%;
    height: 50px;
}

.invia {
    border-bottom-left-radius: 25px;
}

.annulla {
    left: 50%;
    border-bottom-right-radius: 25px;
}

.drawer {
    position: absolute;
    background-color: white;
    top: 20px;
    left: 0px;
    right: 0px;
    bottom: 10px;
    background-repeat: round;
}

.drawer>iframe {
    height: 100%;
    width: 100%;
}

.reader {
    position: absolute;
    background-color: white;
    top: 20px;
    left: 0px;
    right: 0px;
    bottom: 10px;
}

.reader>iframe {
    height: 100%;
    width: 100%;
}

.infoos {
    position: absolute;
    background-color: white;
    top: 20px;
    left: 0px;
    right: 0px;
    bottom: 10px;
}

.infoos>iframe {
    height: 100%;
    width: 100%;
}

.task {
    position: absolute;
    background-color: white;
    top: 20px;
    left: 0px;
    right: 0px;
    bottom: 10px;
}

.task-bar {
    position: absolute;
    top: 0;
    height: 20px;
    left: 0;
    right: 0;
}

.task-bar input {
    width: 50%;
    height: 100%;
    position: absolute;
}

.task-bar>.button-left {
    left: 0;
}

.task-bar>.button-right {
    left: 50%;
}

.task-body {
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 0;
    right: 0;
    overflow-y: scroll;
}

.delete_task {
    position: absolute;
    top: inherit;
    right: 0;
    width: 20px;
    display: inline-block;
}

.task-body>table {
    width: 100%;
    text-align: center;
}

.task-body>table * {
    border-bottom: 1px solid;
}

.task-body>table * {
    width: 50%;
}

.paint {
    position: absolute;
    background-color: rgb(64, 64, 64);
    top: 60px;
    left: 0px;
    right: 0px;
    bottom: 10px;
    background-repeat: round;
    overflow: scroll;
}

.tool-bar {
    position: absolute;
    background-color: lightgray;
    top: 20px;
    left: 0px;
    right: 0px;
    height: 40px;
    padding-top: 5px;
}

.tool-bar>div {
    position: absolute;
    display: block;
    height: 100%;
    font-size: 10px;
    cursor: default;
}

.color-picker {
    left: 10px;
}

.color-picker>input {
    cursor: pointer;
}

.radius-weight {
    left: 30%;
    width: 40%;
}

.radius-weight>input {
    cursor: pointer;
    width: 100%;
}

.paint-icons {
    right: 10px;
}

.paint-icons>img {
    display: inline-block;
    height: 20px;
    border: 2px solid lightgray;
    cursor: pointer;
}

.border2bl {
    border: 2px solid black !important;
}

.container-canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.videogame {
    position: absolute;
    background-color: white;
    top: 40px;
    left: 0px;
    right: 0px;
    bottom: 10px;
    padding: 0px;
}

.snake-screen {
    background-color: black;
    top: 0;
    left: 0;
    height: calc(100% - 50px);
    width: 100%;
}

.snake-tab {
    background-color: black;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
}

.snake-body {
    position: absolute;
    height: 5%;
    width: 5%;
    border-radius: 50px;
    background-color: lightgray;
}

.snake-tail {
    background-color: blue !important;
}

.snake-head {
    background-color: red !important;
}

.snake-item {
    position: absolute;
    height: 5%;
    width: 5%;
    border-radius: 50px;
    background-color: green;
}
